<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/one-page-wonder.css" rel="stylesheet">
</head>
<body class="xdd">
<div class="container">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">weight</th>
            <th scope="col">height</th>
            <th scope="col">age</th>
            <th scope="col">gender</th>
            <th scope="col">
                <form action="/">
                <button type="submit" class="btnXD btn btn-primary">Take me back !</button>
            </form>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${data}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.weight}"></td>
            <td th:text="${user.height}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.gender}"></td>
            <td><a th:href="'/table/'+${user.id}">show</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>